/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.but-combat-window {
  min-height: 70px !important;
  height: 80px;
}

.but-flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.but-flex-item {
  flex: 1;
  min-width: 100px;
}

.but-combat-window img {
  border: 0;
  max-width: 20px;
}
.but-blooded {
  color: red;
}

.but-combat-body {
  padding-left: 10px;
  padding-right: 10px;
}

.but-combatant {
}
