/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.but-combat-window {
  min-height: 65px !important;
}

.but-combat-window img {
  border: 0;
  max-width: 20px;
}
.but-blooded {
  color: red;
}

.but-combat-body {
  padding-left: 10px;
  padding-right: 10px;
}